@import url(components/pictures.css);
@import url(components/cards.css);
@import url(components/buttons.css);

@import url(pages/navigation.css);
@import url(pages/container.css);

body {
  background-color: white;
}

h1 {
  font-family: Poppins;
  font-weight: 300;
  text-align: center;
  font-size: 140%;
  color: black;
  margin-bottom: 5%;
  margin-top: 5%;
}

h2 {
  font-family: Poppins;
  font-weight: 300;
  text-align: center;
  font-size: 120%;
  color: white;
}

h3 {
  color: white;
  font-family: Poppins;
  font-weight: 300;
  text-align: center;
  font-size: 85%;
  margin-top: 1%;
}

p {
  color: black;
  font-family: Poppins;
  font-weight: 300;
  text-align: center;
  font-size: 85%;
  margin-top: 5%;
}



@media (max-width: 2000px) {
  .col-6 {
    width: 50%;
  }
}
@media (max-width: 720px) {
  .col-6 {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .col-6 {
    width: 300px;
  }
}
