
.card-white {
  background-color: #F7F7F7;
  padding: 5%;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  border-radius: 4px;
}

.card-brown {
  background-color: #3333FF;
  padding: 5%;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  border-radius: 4px;
}

.card-black {
  background-color: #1C1E27;
  padding: 30px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  border-radius: 4px;
  padding-bottom: 60px;
}

.card-black h2 {
  color: #FFC605;
  font-weight: bold;
  margin-bottom: 20px;
}


.card-behance {
  background-size: cover;
  background-position: center;
  height: 120px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  margin: 1%;
}

.shadow {
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
}

.col-6 {
  margin: 1%;
  height: 500%;
}

.cards-behance {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 960px) {
  .cards-behance {
    grid-template-columns: 1fr 1fr;
  }
}

.cards-illu {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 960px) {
  .cards-illu {
    grid-template-columns: 1fr 1fr;
  }
}

.card-illu {
  border-radius: 5%;
  box-shadow: 0 0 5px rgb(230 230 230);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
  margin: 4%;
  background-color: white;
}

.card-illu img {
  height: 100px;
  max-width: 110px;
}
