.gradient {
  width: 10rem;
  height: 10em;
  border-radius: 50%;
  /* background: radial-gradient(#3333FF, #9198e5); */
  margin: 3%;
  margin-left: 6%;
  padding: 2rem;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
}

.darker {
  background: radial-gradient(#babeec, #3333FF);
}

.mid-dark {
  background: radial-gradient(#9198e5, #3333FF);
}

.mid-light {
  background: radial-gradient(#3333FF, #fafbff);
}

.lighter {
  background: radial-gradient(#3333FF, #fafbffb0, #babeec);
}
