.row {
  display: grid;
  flex-grow: 1;
  margin: 20px;
}

@media (max-width: 699px) {
  .row {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 700px) {
  .row {
    grid-template-columns: 1fr 1fr;
  }
}


.container {
  display: flex;
}

@media (max-width: 699px) {
  .container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 700px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}
.container-illu {
  margin-top: 1%;
}

.container-illu h2 {
  text-align: center;
  color: #1C1E27;
}
